/*
.super_effective
{

}

.not_very_effective
{

}
*/
.doesnt_affect
{
	min-width: 100px;
	max-width: 300px;
	width: 200px;
}

.type-normal {
	--type-bg: rgb(174, 174, 174);
	--type-fg: rgb(255, 253, 250, 1);
	--type-outline: rgb(125, 125, 125, 1);

	--type-row-bg: rgba(174, 174, 174, 0.3);
}

.type-fire {
	--type-bg: rgb(255, 167, 102);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(184, 120, 73);

	--type-row-bg: rgba(255, 167, 102, 0.3);
}

.type-water {
	--type-bg: rgb(100, 197, 247);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(72, 142, 178);

	--type-row-bg: rgba(100, 197, 247, 0.3);
}

.type-electric {
	--type-bg: rgb(240, 223, 29);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(165, 143, 0);

	--type-row-bg: rgba(240, 223, 29, 0.3);
}

.type-grass {
	--type-bg: rgb(154, 195, 14);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(111, 140, 10);

	--type-row-bg: rgba(154, 195, 14, 0.3);
}

.type-ice {
	--type-bg: rgb(96, 233, 245);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(69, 168, 176);

	--type-row-bg: rgba(96, 233, 245, 0.3);
}

.type-fighting {
	--type-bg: rgb(238, 105, 105);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(171, 76, 76);

	--type-row-bg: rgba(238, 105, 105, 0.3);
}

.type-poison {
	--type-bg: rgb(171, 122, 202);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(123, 88, 145);

	--type-row-bg: rgba(171, 122, 202, 0.3);
}

.type-ground {
	--type-bg: rgb(184, 140, 92);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(130, 95, 61);

	--type-row-bg: rgba(184, 140, 92, 0.3);
}

.type-flying {
	--type-bg: rgb(100, 167, 241);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(72, 120, 174);

	--type-row-bg: rgba(100, 167, 241, 0.3);
}

.type-psychic {
	--type-bg: rgb(235, 127, 244);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(169, 91, 176);

	--type-row-bg: rgba(235, 127, 244, 0.3);
}

.type-bug {
	--type-bg: rgb(81, 203, 90);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(58, 146, 65);

	--type-row-bg: rgba(81, 203, 90, 0.3);
}

.type-rock {
	--type-bg: rgb(223, 178, 85);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(154, 117, 48);

	--type-row-bg: rgba(223, 178, 85, 0.3);
}

.type-ghost {
	--type-bg: rgb(134, 115, 174);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(91, 82, 123);

	--type-row-bg: rgba(134, 115, 174, 0.3);
}

.type-dragon {
	--type-bg: rgb(122, 105, 232);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(86, 73, 166);

	--type-row-bg: rgba(122, 105, 232, 0.3);
}

.type-dark {
	--type-bg: rgb(91, 98, 121);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(63, 69, 88);

	--type-row-bg: rgba(91, 98, 121, 0.3);
}

.type-steel {
	--type-bg: rgb(129, 138, 164);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(93, 99, 118);

	--type-row-bg: rgba(129, 138, 164, 0.3);
}

.type-fairy {
	--type-bg: rgb(252, 119, 153);
	--type-fg: rgb(255, 253, 250);
	--type-outline: rgb(181, 86, 110);

	--type-row-bg: rgba(252, 119, 153, 0.3);
}

.type-unknown {
	--type-bg: rgb(221, 212, 200, 1);
	--type-fg: rgb(34, 25, 18, 1);
	--type-outline: rgba(34, 25, 18, 0.18);

	--type-row-bg: rgba(221, 212, 200, 0.3);
}